/// <reference path="_bootstrap.scss" />

.spot-media {
    margin-top: 24px;
   
     >.spot-media-image {
        margin-bottom: 24px;
    }
    
    img {
        vertical-align: middle;
        width: 100%;
        max-width: 100%;
    }

    .spot-media-body {
        h3 {
            color: $gray-light;
        }
    }
    .spot-media-footer {
        a {
            color: $red;
            font-weight: bold;
        }
    }
}

.article-hero {
    position: relative;

    .hero-media{
        img  {
            width: 100%;
        }
    }

    .billboard-editor {
        text-align: center;
    }

    .billboard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        text-align: center;

        .billboard-inner {
            display: inline-block;
            margin: 10%;
            padding: 14px 20px;
            border-top: 5px solid $white;
            border-bottom: 5px solid $white;
            
            @media only screen and (max-width : 480px) {
                margin: 5%;
            }
        }

        h1 {
            color: $white;
            font-size: 48px;
            font-weight: bold;
            
            @media only screen and (max-width : 768px) {
                font-size: 22px;
            }

        }
    }
}

.content-section {
    .title {
        font-weight: bold;
        font-size: 36px;
        margin: 50px auto 20px;
    }

    .body{
        color: $gray-light;
        font-family: 'Milo-Serif', Times, serif;
        font-size: 17px;
        line-height: 1.5;
        letter-spacing: 0.04em;

    }
}

.pro-tip {
    background: $white;    
    margin-top: 50px;
    padding: 45px 0;

    .tip-content:before {
        content: '';
        position: absolute; 
        width: 2px;
        background: $gray-light;
        left: 0;
        top: 5px;
        bottom: 5px;
    }

    .quote-copy {
        font-family: Milo-Serif;
        color: #666666;
        font-style: italic;
        font-size: 18px;
    }

    .tip-title {
        color: $red;
        font-size: 14px;
        font-weight: bold;
    }

    .tip-media {
        position: absolute;
        top: -150px;
    }
}

.featured-media {
    background: $yellow-dark;
    background: #f1ab14;

    margin: 0 auto;
    padding-bottom: 40px;

    .featured-title {
        padding-top: 60px;
        padding-bottom: 80px;
        
        h2 {
            color: $red;
            text-align: center;
            overflow: hidden; 
        }
    }
    
    .featured-description {
        margin-top: 50px;

        .featured-text {
            color: $gray-light;
            font-style: italic;
            letter-spacing: 0.02em;
            margin-bottom: 34px;
        }

        .featured-cta {
            a {
                border: 2px solid $red;
                border-width: 2px;
                color: $red;
                display: inline-block;
                font-weight: normal;
                font-size: 12px;
                padding: 9px 14px;
                position: relative;                
                z-index: 2;
            }
        }
    }
}


.featured-cta {
    position: relative;

    .hero-media{
        img  {
            width: 100%;
        }
    }

    .billboard-editor {
        text-align: center;
    }

    .billboard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        text-align: center;

        &>a {
            display: inline-block;
            position: relative;
            padding: 12px 26px;
            font-weight: normal;
            color: $white;
            background: $yellow;
            text-transform: uppercase;

            &:hover{
                background: $red;
                text-decoration: none;
            }
        }

        .billboard-inner {
            display: inline-block;
            margin: 10%;
            padding: 14px 20px;
            border-top: 5px solid $white;
            border-bottom: 5px solid $white;
            
            @media only screen and (max-width : 480px) {
                margin: 5%;
            }
        }

        h1 {
            color: $white;
            font-weight: bold;
            
            @media only screen and (max-width : 768px) {
                font-size: 22px;
            }

        }
    }
}

.spot-overlay {
    cursor: pointer;
    position: relative;
    margin: 12px auto;

    .hero-media{
        img  {
            width: 100%;
            @media only screen and (min-width : 768px) {
                max-height: 235px;
            }

        }
    }

    .overlay-editor {
        text-align: center;
    }

    .overlay {
        width: 90%;
        padding: 10px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 21px;
        font-family: 'Milo', Arial, Helvetica, sans-serif;
        line-height: 1.2;
        letter-spacing: 0.1em;
        color: #ffffff;
        background: #95c11e;
        background: rgba(149, 193, 30, 0.7);

        .overlay-text {
            font-size: 13px;
        }
        .overlay-title {
            font-size: 16px;
        }
    }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}