@using Sitecore

@model Sitecore.Mvc.Presentation.RenderingModel


<div class="container@(MainUtil.GetBool(Model.Rendering.Parameters["ContainerIsFluid"], false) ? "-fluid" : "" )">
    <div class="row">
        @Html.Sitecore().DynamicPlaceholder("col-huge")
    </div>
</div>
