@using Sitecore

@model Sitecore.Mvc.Presentation.RenderingModel


<div class="container@(MainUtil.GetBool(Model.Rendering.Parameters["ContainerIsFluid"], false) ? "-fluid" : "" )">
    <div class="row">
        <div class="col-md-12">
            @Html.Sitecore().DynamicPlaceholder("col-huge")
        </div>
    </div>
</div>
