@using OscarMayer.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

<div class="featured-media">
    <div class="featured-title">
        <h2>@Html.Sitecore().Field("MediaTitle", Model.Item)</h2>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="featured-image">
               @Html.Sitecore().ImageField("MediaImage", Model.Item, cssClass: "img-responsive")
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="featured-description">
                <div class="featured-text visible-lg visible-md">
                    @Html.Sitecore().Field("MediaDescription", Model.Item)
                </div>
                <div class="featured-cta">
                    @Html.Sitecore().Field("MediaLink", Model.Item)
                </div>
            </div>
        </div>
    </div>
</div>