@using OscarMayer.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

<div class="spot-overlay">
    <div class="hero-media">
        @Html.Sitecore().ImageField("MediaImage", Model.Item, cssClass: "img-responsive")
    </div>

    <div class="@(Sitecore.Context.PageMode.IsExperienceEditor ? "overlay-editor" : "overlay")">
        <div class="overlay-inner">
            <div class="overlay-title">@Html.Sitecore().Field("MediaTitle", Model.Item)</div>
            <div class="overlay-text">
                @Html.Sitecore().Field("MediaDescription", Model.Item)
            </div>
        </div>
    </div>
</div>