/********************************
    Global Styles
********************************/
body {
  background: #f1efe8; }

header {
  position: relative;
  height: 52px;
  background-color: #fec318; }

footer {
  background: #dd311e;
  color: white;
  min-height: 100px;
  padding: 40px 0 30px;
  text-align: center; }
  footer nav ul {
    list-style: none; }
    footer nav ul li {
      display: inline-block; }
      footer nav ul li a {
        color: #fff;
        letter-spacing: 0.1em;
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out; }
        footer nav ul li a:hover {
          color: #000; }
  footer .copyright {
    font-size: 0.8em; }

/********************************
    Feature Components
********************************/
.spot-media {
  margin-top: 24px; }
  .spot-media > .spot-media-image {
    margin-bottom: 24px; }
  .spot-media img {
    vertical-align: middle;
    width: 100%;
    max-width: 100%; }
  .spot-media .spot-media-body h3 {
    color: #666666; }
  .spot-media .spot-media-footer a {
    color: #dd311e;
    font-weight: bold; }

