
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="content-section">
    <div class="col-sm-12">
        <h2 class="title">
            @Html.Sitecore().Field("Title", Model.Item)
        </h2>
        <p class="body">
            @Html.Sitecore().Field("Body", Model.Item)
        </p>
    </div>
</div>