@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Sitecore().DynamicPlaceholder("footer")
        </div>
        <div class="col-md-12">
            <div class="copyright">Kraft Foods. All Rights Reserved.</div>
        </div>

    </div>
</div>